body {
    font-family: 'Helvetica Neue', sans-serif;
}

#heading {
    color: #4d4d4d;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
}

button {
    font-size: 18px;
    letter-spacing: 1.4px;
    color: white;
    background: #b46060;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    background: white;
    color: #b46060;
    border: solid 1px #b46060;
}

.characters {
    width: 600px;
    height: 70vh;
}

.result {
    width: 300px;
    height: 220px;
    display: flex;
    flex-direction: column;
}

.box {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 18px;
    border-radius: 4px;
}

.result table {
    width: 100%;
    margin-bottom: 22px;
}

.result h2 {
    color: #4d4d4d;
    letter-spacing: 1.2px;
}

.result td {
    padding: 8px 4px 8px 0;
    font-size: 18px;
    letter-spacing: 1.2px;
}

.value {
    font-weight: bold;
    color: #b46060;
}

.character {
    color: #4d4d4d;
    display: inline-block;
    font-size: 28px;
    padding: 5px 2px;
    margin: 0;
}

.space-character::before {
    content: "\00a0";
}

.correct {
    color: white;
    background-color: #a0c490;
}
.wrong {
    color: white;
    background-color: #b46060;
}
.current {
    color: white;
    background-color: #4d4d4d;
}

.hide {
    display: none;
}
